<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Game Back-Logger</title>
</head>
<body>
    <h1>All Game Logs</h1>
    <nav>
        <a href="/">Home</a>
        <a href="#">Logger</a>
        <a href="#">Add New Game Log</a>
    </nav>
    <ul>
        <% logs.forEach(function(log) { %>
            <li>
                <strong>UserID: </strong> <%= log.userId %>

                <strong>Title: </strong> <%= log.gameTitle %>

                <strong>Status: </strong> <%= log.completionStatus %>

                <strong>User Rating: </strong> <%= log.userRating %>
            </li>
        <% }); %>
    </ul>

</body>
</html>